LOCATE COMP "clock" SITE "G2";
IOBUF PORT "clock" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 25 MHZ;

LOCATE COMP "reset" SITE "D6";
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_tx" SITE "L4";
LOCATE COMP "io_rx" SITE "M1";

IOBUF PORT "io_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "io_led7" SITE "H3";
LOCATE COMP "io_led6" SITE "E1";
LOCATE COMP "io_led5" SITE "E2";
LOCATE COMP "io_led4" SITE "D1";
LOCATE COMP "io_led3" SITE "D2";
LOCATE COMP "io_led2" SITE "C1";
LOCATE COMP "io_led1" SITE "C2";
LOCATE COMP "io_led0" SITE "B2";
IOBUF PORT "io_led0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "io_led7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;