LOCATE COMP "clock" SITE "A9";
IOBUF PORT "clock" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 48.000 MHZ;

LOCATE COMP "reset" SITE "J17";
IOBUF PORT "reset" IO_TYPE=SSTL135_I;

LOCATE COMP "io_tx" SITE "N17";
LOCATE COMP "io_rx" SITE "M18";

IOBUF PORT "io_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "io_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led0" SITE "K4";
LOCATE COMP "io_led1" SITE "M3";
LOCATE COMP "io_led2" SITE "J3";

IOBUF PORT "io_led0" IO_TYPE=LVCMOS33;
IOBUF PORT "io_led1" IO_TYPE=LVCMOS33;
IOBUF PORT "io_led2" IO_TYPE=LVCMOS33;
